/* add styles here */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    sfont:1em Helvetica, sans-serif;
    font: 1em Georgia, "Times new roman", serif;
    background: #ffffff url(../img/bg.png) repeat-x left top;
    
    text-align: center;
}

ul, ol {
    list-style-position: inside;
}

p {
    margin: 20px 0;
}

.left {
    float: left;
    margin: 20px;
}

.right {
    float: right;
    margin: 20px;
}

.block {
    display: block;
}

#wrapper {
    display:inline-block;
    text-align: left;
    width: 1024px;
}

#top {
    width: 100%;
    height: 48px;
}

#top h1 {
    display: inline-block;
    color: #ffffff;
    margin-top: 0;
    font-family: Georgia, "Times new roman", serif;
    font-weight: 400;
}

#social {
    float: right;
    height: 48px;
}

#social>* {
    float: left;
    margin: 10px;
}

#lj {
    height:25px;
}

#nav {
    display: block;
    height: 27px;
    vertical-align: middle;
}

#nav li {
    float: left;
    list-style:none;
    margin: 0;
    display: block;
    border-left: #ffffff 1px solid;
    height: 100%;
}

#nav li a {
    display: block;
    height: 100%;
    padding: .45em 1em;
    color: #000000;
    text-decoration: none;
    line-height: 1.0;
}



#main {
    font-family: Georgia, Times, serif;
    font-size: 14px;
    line-height: 24px;
}

#main h1{
    margin: 1em;
    color: #000000;
}

#bottom {
    padding: 10px;
    border-top: #1010aa 1px dotted;
    vertical-align: top;
    text-align: center;
}